
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Roboto' , sans-serif;
}


nav {
   display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    height: 100px;
}

#personal-logo {
    filter: invert(1);
    height: 50px;
    width: 50px;
}


li {
    list-style: none;
}

p {

}
section {
    background-color: rgb(245, 245, 245);
}

.title {
    font-size: 120px;
   margin-bottom: 12px;
   text-align: left;
   line-height: 1;
}

.orange {
    color: #f06449 !important;
    
}


/* 

LANDING PAGE 

*/

.header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1000px;
}

.header__para {
    font-size: 24px;
    line-height: 2;
    max-width: 450px;
}

#landing-page {
    min-height: 100vh;

}

/* 

NAVIGATION  

*/

.nav__link--list {
    display: flex;
}

.nav__link {
    margin: 0 12px;
}

.nav__link--anchor {
    text-decoration: none;
    font-size: 16px;
    color: #242424;
    font-weight: 700;
}